<div class="slider">
    <div class="slider-list">
        <div class="slider-track">
            <div class="slide">
                <img src="../../Static/IMG/london.jpg" alt="Лондон" />
            </div>
            <div class="slide">
                <img src="../../Static/IMG/ny.jpg" alt="Нью-Йорк" />
            </div>
            <div class="slide">
                <img src="../../Static/IMG/spb.jpg" alt="Санкт Петербург" />
            </div>
        </div>

    </div>
    <div class="slider-arrows">
        <button type="button" class="leftBut disabled">&#9668;</button>
        <button type="button" class="rightBut">&#9658;</button>
    </div>
</div>
